*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Bahnschrift;
}

body{
    min-height: 100vh;
    background-color: lightgreen;
}

.connexion{
    width: 40%;
    height: max-content;
    align-self: center;
    border-radius: 10px;
    border: 2px solid mediumpurple;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50vh auto auto;
    transform: translateY(-50%);
}

.connexion > *{
    width: max-content;
    margin: auto;
}

.connexion form{
    display: flex;
    flex-direction: column;
}

input{
    display: block;
}

#buttonConnexion{
    border: darkgreen 2px solid;
    background-color: palegreen;
    transition: all 0.5s;
    margin-top: 8px;
    cursor: pointer;
    justify-self: center;
}

#buttonConnexion:hover{
    transform: scale(1.1);
}

.connexion h3{
    margin-top: 10px;
    margin-bottom: 10px;
}

.connexion a{
    width: max-content;
    margin: auto;
    display: block;
    text-decoration: none;
    color: seagreen;
    padding: 6px;
    border: 1px solid green;
    transition: all 0.5s;

}

.connexion a:hover{
    border-radius: 50%;

}