body{
    min-height: 100vh;
    background-image: repeating-linear-gradient(45deg, rgb(255,255,255) 0px, rgb(255,255,255) 10px,transparent 10px, transparent 11px),repeating-linear-gradient(135deg, rgb(255,255,255) 0px, rgb(255,255,255) 10px,transparent 10px, transparent 11px),linear-gradient(90deg, hsl(256,7%,84%),hsl(256,7%,84%));
}

.container{
    width: 80%;
    margin: 0 auto;
    padding: 40px;
}

.container .panier{
    display: flex;
    flex-direction: row-reverse;
}

.panier .iconePanier{
    width: max-content;
    padding: 3px;
    color: mediumpurple;
    font-size: 1.8rem;
    z-index: 2;
    cursor: pointer;
}

.panier .iconePanier a{
    color: rebeccapurple;
    transition: color 0.25s;
}

.panier .infosPanier{
    position: relative;
    right: -50px;
    width: max-content;
    opacity: 0;
    padding: 5px;
    border: 2px solid mediumpurple;
    font-size: 0.75rem;
    margin-right: 3px;
    transition: transform 0.5s, opacity 0.5s;
    z-index: 1;

}

.prix{
    font-weight: bold;
}

.panier .iconePanier:hover + .infosPanier{
    opacity: 1;
    transform: translateX(-60px);
}

.panier .iconePanier:hover a{
    color: mediumpurple;
}




.container h1{
    font-size: 2rem;
    text-align: center;
    color: black;
    margin-bottom: 20px;
}

.produits{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    width: 300px;
    padding: 20px;
    height: max-content;
    margin: 5px;
    transition: all 0.5s ease-in-out ;
}

.card:hover{
    border-radius: 10% 10% 35% 10% / 10% 10% 35% 10%;
    transform: scale(1.05);
}

.card img{
    aspect-ratio: 400/275;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0 0;
}

.card h2{
    font-size: 1.4rem;
    border-bottom: 1px solid mediumpurple;
}

.card h3{
    font-size: 1.2rem;
    color: mediumpurple;
    margin-bottom: 5px;
}

.card button{
    width: 40px;
    height: 35px;
    font-size: 100%;
    color: white;
    background-color: rebeccapurple;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
    border: none;
}

.card button:hover{
    background-color: mediumpurple;
}


