<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
    <header class="header">Header</header>
    <nav class="navigation">
        <ul>
            <li>item1</li>
            <li>item2</li>
            <li>item3</li>
            <li>item4</li>
        </ul>
    </nav>
    <main class="content"><p>Pierre qui roule n'amasse pas mousse <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque dolorem facere fuga ipsam obcaecati quasi quisquam velit. Animi blanditiis impedit magnam minima natus quae sint tempore vitae. Asperiores aspernatur commodi consequatur consequuntur cum deleniti dolorum, error et, excepturi facilis hic illo iure non officiis qui reiciendis vel voluptate voluptatem voluptates.</p></main>
    <footer class="footer">Footer</footer>
</div>
</body>
</html>