*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Dubai, sans-serif;
    color: white;
}

.container{
    width: 100%;
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content 1fr max-content;
    background-color: black;
}

/*Header + Nav*/


header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 10px;
}

header > h1{
    height: max-content;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10px;
    text-align: center;
}

nav{
    margin-top: 10px;
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: repeat(3, 1fr);
}

nav a{
    display: block;
    width: max-content;
    justify-self: center ;
    text-decoration: none;
    font-size: 1.5em;
    transition: all 0.5s;
}

nav a:after{
    content: "";
    display: block;
    height: 1px;
    background-color: gold;
    width: 100%;
    transform: scale(0);
    transition: transform 0.5s ease-in-out;
}

nav a:hover::after{
    transform: scale(1);
}

nav a:hover{
    color: #ffd700;
}

/*Contenu Index*/
.index{
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(max-content, 1fr));
    grid-gap: 20px;
}

.card{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    border: 3px solid gold;
    border-radius: 7px;
    padding-bottom: 10px;
}

.card *{
    justify-content: center;
    width: max-content;
    margin: auto;
}

.card img{
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 100%;
    padding-bottom: 5px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.nomIndex{
    font-weight: bold;
}

.Rouge{
    color: red;
}

.Vert{
    color: greenyellow;
}

.buttonVoir{
    width: 80%;
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
    height: 30px;
    transition: all 0.5s;
}

.buttonVoir a{
    text-decoration: none;
    margin: auto auto;
    display: block;
}

.buttonVoir:hover{
    color: gold;
    font-weight: bold;
}

/*Content for Details*/

.details{
    min-width: 220px;
    width: 30%;
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-template-rows: 1fr 1fr 1.3fr 1.5fr 0.7fr 1fr;
    height: 100vh;
    border: 3px solid gold;
    border-radius: 10px;
    margin: 30px auto;
}

@media screen and (min-width: 500px) and (max-width: 900px){
    .details{
        width: 60%;
    }
}

@media screen and (max-width: 500px){
    .details{
        width: 90%;
    }
}

.details img{
    grid-area: 1/1/2/-1;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin: auto;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.nomDetail{
    grid-row: 2/3;
    grid-column: 1/-1;
    font-weight: bold;
    font-size: 2em;
}

.birthDetail{
    grid-column: 1/-1;
    grid-row: 3/4;
}

.adresseDetails{
    grid-column: 1/-1;
    grid-row: 4/5;
}

.contactDetails{
    grid-row: 5/6;
    grid-column: 1/-1;
    padding-top: 15px;
}

.details i{
    color: gold;
    font-size: 1.2em;
}

.details > *{
    display: flex;
    flex-direction: column;
}

.details > * > *{
    margin: auto;
}

.telDetails, .mailDetails{
    height: max-content;
    margin: auto auto;
}


/*Footer*/

footer{
    background-color: #232323;
    height: max-content;
}

.reseaux{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
}

.FondReseau svg path{
    transition: all 0.5s;
}

.FondReseau:hover svg path{
    fill: gold;
}